@media only screen and (max-width: 768px) {
  .sidebar {
    width: 42vw;
  }

  .sidebar .sdb-head-mn {
    font-size: 4.5vw;
  }

  .view-sub--2 {
    height: 60vh;
  }

  .highlight-sect-title-con h1 {
    font-size: 8vw;
  }

  .t--each-spn {
    font-weight: 600;
    font-family: Hit-Cond;
    font-size: 1.8vw;
    color: var(--primary-color);
    letter-spacing: 1px;
  }

  .t--each-para {
    width: 80%;
    text-align: justify;
    margin-bottom: 2vw;
    color: var(--primary-color);
    letter-spacing: 1px;
    font-size: 1.6vw;
    font-family: Hit-Cond;
  }

  .mc--container {
    position: relative;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .tipi-cod {
    justify-content: center;
    font-family: Hit-Bold;
    font-size: 1vw;
    color: var(--primary-color);
    position: absolute;
    top: 69.5%;
    right: 7.5%;
    border-radius: 11px;
    background-color: var(--btn-background);
    /* padding: .1vw; */
    width: 11vw;
    height: 4.5vw;
    display: flex;
    align-items: center;
  }

  .mc--child-1-top {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mc--child-1-top svg {
    max-width: 85%;
    height: 43.5%;
  }

  .mc--child-2-bottom {
    padding: 0 10vw;
  }

  .mc--spn {
    font-size: 2.5vw;
  }

  .mc--para {
    font-size: 1.8vw;
  }
  /* --------------------------------------- */
  .s6-title-con h1 {
    font-size: 8vw;
  }

  #glass-container {
    width: 95vw;
    height: 80vh;
    position: relative;
    overflow: hidden;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1vw;
    background-image: url("./assets/img/CERBERUS_KA.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1),
      /* Border-like shadow */ inset 0 2px 4px rgba(255, 255, 255, 0.1); /* Inset shadow */
  }

  .g-con-glass-con {
    height: 100%;
    width: 100%;
    background-color: #00000000;
    backdrop-filter: blur(60px);
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vw;
    align-items: center;
  }

  .g-con-glass-con span {
    font-size: 3.5vw;
    font-family: Hit-Cond;
    text-align: center;
  }

  .fromer-btn-con {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .pre-btn {
    padding: 1vw 3vw;
    border-radius: 8px;
    border: 1px solid var(--primary-background);
    font-family: Hit-Cond;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff43;
    backdrop-filter: blur(30px);
    letter-spacing: 1px;
  }

  @media (max-width: 768px) {
    #footer {
      height: auto; /* Adjust height for smaller screens */
      padding: 5vw 2vw; /* Increase padding for better spacing */
      flex-direction: column; /* Stack elements vertically */
    }

    .ft-top {
      flex-direction: column; /* Stack logo and content vertically */
      align-items: center;
    }

    #footer a img {
      scale: 1.2; /* Adjust the scaling of the image */
    }

    .middle-ft {
      flex-direction: column; /* Stack elements vertically */
      align-items: center;
      margin-top: 3vw; /* Add spacing above the middle section */
    }

    .mdft-lft {
      flex-direction: column; /* Stack links vertically */
      gap: 5px; /* Reduce gap between links */
      margin-top: 5vw; /* Add spacing above the middle section */
    }

    .sprtr-ft {
      height: 1.5vw; /* Adjust separator height */
      width: 2px;
      margin: 2vw 0; /* Add vertical spacing around the separator */
    }

    .bottom-ft {
      flex-direction: column; /* Stack elements vertically */
      align-items: center;
      top: 10%; /* Adjust positioning */
    }

    .bottom-ft :nth-child(1),
    .bottom-ft :nth-child(2) {
      font-size: 0.9em; /* Slightly reduce font size */
      text-align: center; /* Center text */
      padding: 1vw 0; /* Increase padding for better touch targets */
    }
  }
}

@media only screen and (max-width: 425px) {
  #olyCursor {
    display: none;
  }

  .sidebar {
    width: 95%;
    top: -100%;
    right: -100%;
  }

  .sidebar .sdb-head-mn {
    font-size: 6.5vw;
  }
  .section1--wrapper {
    padding: 2vw;
  }

  .view-main--2 {
    min-height: 80vh;
  }

  .section2-wrapper h1 {
    font-family: Hit-Cond;
    font-size: 3.9vw;
    text-align: justify;
    color: #ffffff30;
    letter-spacing: 1px;
    /* background-color: slateblue; */
    /* margin-top: 5px; */
  }

  .highlight-sect-title-con h1 {
    font-size: 11vw;
  }

  .section3-data-wrapper {
    padding: 0 2vw;
    gap: 3vw;
  }

  #logue-container-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0vw;
    flex-direction: column;
    border-radius: 1.5rem;
  }

  #logue-container-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0vw;
    margin-left: 0;
    border-radius: 1.5rem;
    background-color: #444444;
    padding: 0 1vw;
  }

  #logue-container-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0vw;
    border-radius: 1.5rem;
  }

  .card--body svg {
    max-width: 90%;
  }

  .card-1-text {
    margin-bottom: 15vw;
  }

  .t--each-spn {
    font-weight: 600;
    font-family: Hit-Cond;
    font-size: 4vw;
    color: var(--primary-color);
    letter-spacing: 1px;
  }

  .t--each-para {
    width: 100%;
    margin-bottom: 3vw;
    color: var(--primary-color);
    letter-spacing: 1px;
    font-size: 3.2vw;
    font-family: Hit-Cond;
  }

  .cta-btn {
    border-radius: 10px;
    &:hover {
      background-image: url(./assets/img/CerberusBtnAnim.gif);
      background-size: cover;
      background-position: center;
    }
  }

  #section4 {
    height: 65vh;
    background-color: var(--btn-background);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 18vw;
  }

  .section4-wrapper {
    width: 100%;

    padding: 0vw 2.5vw;
    /* margin-top: 2vw; */
  }

  .sub-text {
    font-family: Hit-Cond;
    font-size: 4vw;
    color: #ffffff43;
    text-align: justify;
    line-height: 5.5vw;
  }

  #section5 {
    min-height: 70vh;
  }

  .s5-title-con h1 {
    font-size: 11vw;
  }

  .tipi-cod {
    justify-content: center;
    font-family: Hit-Bold;
    font-size: 1.5vw;
    color: var(--primary-color);
    position: absolute;
    top: 60%;
    right: 8.5%;
    border-radius: 6px;
    background-color: var(--btn-background);
    /* padding: .1vw; */
    width: 10vw;
    height: 4vw;
    display: flex;
    align-items: center;
  }

  .mc--child-2-bottom {
    padding: 0 10vw;
  }

  .mc--spn {
    font-size: 3.5vw;
  }

  .mc--para {
    font-size: 2.8vw;
    letter-spacing: 0.5px;
  }

  /* ------------- */
  .s6-title-con h1 {
    font-size: 11vw;
  }

  #glass-container {
    width: 95vw;
    height: 80vh;
    position: relative;
    overflow: hidden;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1vw;
    background-image: url("./assets/img/CERBERUS_KA.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1),
      /* Border-like shadow */ inset 0 2px 4px rgba(255, 255, 255, 0.1); /* Inset shadow */
  }

  .g-con-glass-con {
    height: 100%;
    width: 100%;
    background-color: #00000000;
    backdrop-filter: blur(60px);
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vw;
    align-items: center;
  }

  .g-con-glass-con span {
    font-size: 6.5vw;
    font-family: Hit-Cond;
    text-align: center;
  }

  .fromer-btn-con {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  .pre-btn {
    font-size: 3vw;
    padding: 1vw 3vw;
    border-radius: 8px;
    border: 1px solid var(--primary-background);
    font-family: Hit-Cond;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff43;
    backdrop-filter: blur(30px);
    letter-spacing: 1px;
  }
}

@media only screen and (max-width: 320px) {
  #section5{
    height: 60vh;
  }
}